@{
    ViewBag.Title = "About";
}
@{
ViewBag.Message = "About Wines Galore";
}
<h1 style="color: midnightblue; font-family: 'Baskerville Old Face';">@ViewBag.Title.</h1>
<h2 style="color: midnightblue; font-family: 'Baskerville Old Face';">@ViewBag.Message</h2>

<p style="color: midnightblue; font-family: 'Baskerville Old Face'; font-size: 14pt;">Wines Galore is a family company created on the values of integrity and a love for delicous wine. Within our website, once you are logged in,
    you can see the entire wine list, add new wines to the list, delete wines from the list, and update any wines as well. </p>
