@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: deepskyblue; color: midnightblue; font-family: 'Baskerville Old Face';">
    <h1>Wines Galore</h1>
    <p class="lead">Welcome to Wines Galore. Here you can access our entire collection of wines, but be sure to create an account first! </p>
    
</div>

<div class="row" style="font-family: 'Baskerville Old Face'; color: midnightblue;">
    <div class="col-md-4">
        <h2>Check Out Our Available Wines</h2>
        <p>
            Head on over to our Beverages page to see what we have available!
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Contact Us!</h2>
        <p>Have questions? Need help navigating the webiste? Forgot your password? Look no further than our contact page. Here you can send us an email or
        get our phone number and give us a call.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Learn More</h2>
        <p>The About page will give you some awesome background information into our company!</p>
        
    </div>
</div>